.form {
 display: flex;
 flex-direction: column;
 gap: 5px;
 border: 2px solid black;
 padding: 5px;
 min-width: 300px;
 position: absolute;
 background-color: rgba(14, 69, 36, 0.5);
 margin: 100px;
}

.save-btn {
  background-color: #eaba40;
}

.cancel-btn {
  background-color: #cb5012;
}